@font-face {
  font-family: "robotoregular";
  src: url("../css/Fonts/roboto_regular/Roboto-Regular-webfont.eot");
  src: url("../css/Fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../css/Fonts/roboto_regular/Roboto-Regular-webfont.woff2") format("woff2"), url("../css/Fonts/roboto_regular/Roboto-Regular-webfont.woff") format("woff"), url("../css/Fonts/roboto_regular/Roboto-Regular-webfont.ttf") format("truetype"), url("../css/Fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../css/Fonts/shrikhand-regular/shrikhand-regular-webfont.woff2") format("woff2"), url("../css/Fonts/shrikhand-regular/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.commander, .menu_title_icon, .affiche_text_icon, .restaurant_liste, .etape_title, .etape_number, .etape, .Explorer, .Localisation, .header_index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a, p, h1, h2, h3 {
  text-decoration: none;
  color: black;
  font-family: "robotoregular", serif;
  margin: 0;
}

header {
  width: 100%;
  padding: 20px 0 12px 0;
  box-shadow: 0 2px 5px #bfbfbf;
}
header img {
  width: 164px;
}

.header_content {
  display: flex;
  align-items: center;
}
.header_content_icon {
  padding-right: 66px;
  font-size: 1.4em;
}

.Localisation {
  background-color: #eaeaea;
  padding: 10px;
  margin-right: -20px;
  margin-left: -20px;
}
.Localisation i {
  padding-right: 15px;
}

.Explorer {
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 35px 40px;
  margin: 0 -20px;
}
.Explorer_title {
  font-size: 0.8em;
  font-weight: bold;
}
.Explorer_text p {
  color: #4d4d4d;
  padding: 15px 0;
}
.Explorer_btn {
  background: linear-gradient(0deg, #000000 0%, #9356DC 0%, #FF79DA 100%);
  color: #FFFFFF;
  padding: 15px 25px;
  margin: 15px 0;
  border-radius: 25px;
  box-shadow: 0 5px 8px #bfbfbf;
}

.Fonctionnement {
  margin: 25px 0;
}
.Fonctionnement_title h1 {
  font-size: 1.3em;
  padding-bottom: 20px;
}

.etapes {
  display: flex;
  flex-direction: column;
}

.etape_number {
  position: relative;
  background-color: #9356DC;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  font-size: 0.9em;
}
.etape_number p {
  color: #FFFFFF;
}
.etape_title {
  background-color: #f6f6f6;
  width: 100%;
  height: 72px;
  border-radius: 25px;
  margin: 10px 0 10px -12px;
  font-weight: 900;
  box-shadow: 0 5px 8px #d9d9d9;
}
.etape_title i {
  font-size: 1.1em;
  padding-right: 40px;
  color: #7e7e7e;
}
.etape_title:hover {
  background-color: #f2eafb;
}
.etape_title:hover i {
  color: #9356DC;
}

.restaurant {
  background-color: #f6f6f6;
  margin: 0 -20px;
}
.restaurant_title h1 {
  font-size: 1.3em;
  padding: 20px;
}
.restaurant_liste {
  flex-direction: column;
  padding: 0 20px;
}
.restaurant_affiche {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px #cccccc;
}
.restaurant_affiche a {
  display: block;
}

.affiche_new {
  display: flex;
  justify-content: flex-end;
}
.affiche_new p {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 5px 15px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 3px;
  font-size: 0.9em;
}
.affiche_content {
  display: flex;
  flex-direction: column;
}
.affiche_content img {
  object-fit: cover;
  height: 174px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.affiche_text {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.affiche_text_title {
  font-size: 0.8em;
}
.affiche_text_title p {
  font-size: 1.3em;
}
.affiche_text_icon {
  font-size: 1.5em;
}
.affiche_text_icon:hover i {
  font-weight: bold;
  display: block;
  background: -webkit-linear-gradient(270deg, #000000 0%, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #353535;
  padding: 15px 0 15px 0;
}

.footer_content {
  padding-top: 10px;
}
.footer_content img {
  filter: invert(1);
  width: 98px;
  padding-bottom: 15px;
}
.footer_content a {
  color: #FFFFFF;
  line-height: 1.7;
}
.footer_content i {
  font-size: 0.9em;
  padding-right: 10px;
}

.Candidat {
  font-weight: 600;
}

.image_restaurant {
  display: flex;
}
.image_restaurant img {
  object-fit: cover;
  width: 100%;
  height: 260px;
}

.menu {
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
  padding-bottom: 75px;
  padding-top: 30px;
}
.menu a {
  display: block;
}
.menu h1 {
  font-family: "shrikhandregular", serif;
  font-size: 1.8em;
  font-weight: 500;
}
.menu h2 {
  font-size: 1.1em;
  font-weight: normal;
  color: #4d4d4d;
  border-bottom: 3px solid #99E2D0;
  width: 13%;
  margin-top: 25px;
  margin-bottom: 15px;
}
.menu_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_title_icon {
  font-size: 1.5em;
}
.menu_title_icon:hover i {
  font-weight: bold;
  display: block;
  background: -webkit-linear-gradient(270deg, #000000 0%, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plat {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px 10px 10px;
  box-shadow: 0 3px 5px #d9d9d9;
  margin-bottom: 10px;
}
.plat_title {
  font-weight: 700;
}
.plat_content {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.plat_text {
  font-size: 0.9em;
}
.plat_prix {
  font-weight: bold;
  font-size: 0.9em;
}

.commander_btn {
  background: linear-gradient(0deg, #000000 0%, #9356DC 0%, #FF79DA 100%);
  color: #FFFFFF;
  padding: 15px 45px;
  margin-top: 35px;
  border-radius: 25px;
  box-shadow: 0 5px 8px #bfbfbf;
}

/*# sourceMappingURL=style.css.map */
